html, h1, h2, body, div, p {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
  margin: 0 auto;
  width: 855px;
  text-align: center;
}

h1, h2 {
  color: #ffffff;
  margin: 10px auto;
  box-shadow: 1px 1px #222;
  border: 3px solid #666;
}

h1 {
  background-color: #2E487B;
  padding: 30px;
}

h2 {
  background-color: #B8773D;
  padding: 20px;
}

.field {
  background-color: #333;
  border: 3px solid #666;
}

.row {
  display: block;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: #444444;
  border: 1px solid #555;
  display: inline-block;s
  box-shadow: 1px 1px #222;
}

#mouse {
  background-color: #6B82AF;
  box-shadow: 1px 1px #222;
  border-radius: 2px;
}

#cat {
  background-color: #E7B283;
  box-shadow: 1px 1px #222;
}